<PanelVisibility>
    <DocType ID="Kompas.a3d">
        <Panel ID="LOBJ_DEPENDENCIES_TREE:100001" IsVisible="False" />
    </DocType>
    <DocType ID="Kompas.m3d">
        <Panel ID="LOBJ_MIRROR_PANEL" IsVisible="False" />
    </DocType>
    <DocType ID="Kompas.cdw">
        <Panel ID="LOBJ_NUMERIC_TABLE" IsVisible="True" />
    </DocType>
</PanelVisibility>