inventor

/cfg/kompas/ini/**/*
!/cfg/kompas/ini/kHome.ini
/cfg/kompas/cfg/kHome.ini

.mayaSwatches

*.bak
*.log
*.log.*
~$*.*~

src_stl.*

/cfg/kompas/cfg/20/UI_PanelVisibility.config
/Default.lnk

aos5/stl
aos5/**/*.stl

mister/**/*.stl
